<div class="form-wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-card">

    <h2>{{ isEdit ? 'Editar Clínica' : 'Nova Clínica' }}</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Razão Social</mat-label>
      <input matInput formControlName="razaoSocial" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome Fantasia</mat-label>
      <input matInput formControlName="nomeFantasia" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>CNPJ</mat-label>
      <input matInput formControlName="cnpj" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Regional</mat-label>
      <mat-select formControlName="regional">
        <mat-option *ngFor="let r of regionais" [value]="r">{{ r }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Data de Inauguração</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dataInauguracao" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox formControlName="ativa">Clínica Ativa</mat-checkbox>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Especialidades Médicas</mat-label>
      <mat-select formControlName="especialidades" multiple>
        <mat-option *ngFor="let e of especialidades" [value]="e">{{ e }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      {{ isEdit ? 'Atualizar' : 'Salvar' }}
    </button>
  </form>
</div>
