.layout-container {
  height: 100vh;
  background-color: var(--bg-main);
}

.dashboard-grid {
  display: grid;
  gap: 2rem;
  padding: 1.5rem;

  grid-template-columns: 1fr;
}

.dashboard-left,
.dashboard-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 1024px) {
  .dashboard-grid {
    grid-template-columns: 2fr 1fr;
  }

  .dashboard-left,
  .dashboard-right {
    display: grid;
    gap: 1.5rem;
  }
}
