html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep .custom-modal-panel {
  background: rgba(0, 0, 0, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-dialog-container {
  padding: 0;
  border-radius: 12px;
  background: white;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.35);
}
:root {
  --sidebar-bg: #ffffff;
  --sidebar-text: #1e1e1e;
  --sidebar-border: #eee;
  --sidebar-hover-bg: #f5f5f5;
  --sidebar-active-bg: #e2e8f0;
  --primary-color: #38bdf8;
  --topbar-bg: #ffffff;
  --topbar-text: #1e1e1e;
  --topbar-text: #1e1e1e;
  --bg-main: #f9fafb;
}

[data-theme='dark'] {
  --sidebar-bg: #1f2937;
  --sidebar-text: #e5e7eb;
  --sidebar-border: #374151;
  --sidebar-hover-bg: #374151;
  --sidebar-active-bg: #4b5563;
  --primary-color: #60a5fa;
  --topbar-bg: #1e1e1e;
  --topbar-text: #ffffff;
  --bg-main: #111827;
}



