<div class="login-wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-card">
    <h2>Login</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="form.get('email')?.hasError('required')">Campo obrigatório</mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">E-mail inválido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="senha" type="password" />
      <mat-error *ngIf="form.get('senha')?.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width" type="submit">
      ENTRAR
    </button>
  </form>
</div>
