<div class="login-wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-card">
    <h2>Registro</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" />
      <mat-error *ngIf="form.get('nome')?.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="form.get('email')?.hasError('required')">Campo obrigatório</mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">E-mail inválido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="senha" type="password" />
      <mat-error *ngIf="form.get('senha')?.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width" type="submit">
      REGISTRAR
    </button>

    <div *ngIf="error" style="color: red;">{{ error }}</div>

    <a routerLink="/login" style="margin-top: 1rem; display: block; text-align: center;">Já tem uma conta? Fazer login</a>
  </form>
</div>
