<header class="topbar">
  <button mat-icon-button class="menu-btn" (click)="toggle.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <h1 class="title">Dashboard</h1>

  <div class="spacer"></div>

  <div class="user-info" [matMenuTriggerFor]="userMenu">
    <img [src]="user.avatar" alt="User avatar" class="avatar" />
    <span>{{ user.name }}</span>
  </div>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>person</mat-icon>
      <span>Perfil</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>
</header>
