.listagem-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .filtro {
    width: 300px;
  }
}

table {
  width: 100%;
}

mat-paginator {
  margin-top: 0.5rem;
}
